<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Voice</title>
</head>
<body>

    <button id="recordbtn">Record</button>
    <button id="toggleRecordingBtn">Pause</button>
    <button id="stopbtn">Stop</button>
    <button id="submitBtn">Submit</button>
    <audio id="player" controls></audio>
    <p id="sentence"></p>
    <p id="matched"></p>
    <button id="newSentence">new Sentence</button>
    <a id="download" hidden>Download</a>
    <script src="static/audiorecording.js" type="text/javascript"></script>
</body>
</html>

